<p>It is impossible to cover in a course every possible scenario / topic.</p><p>If you have any questions about Gitlab or need help in a specific area, let me know and I will do my best to help you / point you in the right direction.</p>